/*  헤더 메뉴*/
.top-nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(45, 45, 45);
}

.top-nav li {
  display: flex;
  padding: 1%;
  font-size: 0.6em;
}

.top-nav a {
  text-decoration: none;
  color:white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% 25% 0 25%;
  height: 100%;
}

/*로고랑 검색*/
.logo-and-search-box {
  display: flex;
  margin: 5% 0% 5% 0%;
  align-items: flex-end;
}

.logo-image{
  width: 12%;
  height: 12%;
  margin-right: 2%;
}

.search {
  width: 30%;
  height: 3%;
  border-bottom: red 3px solid;
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  margin-right: 1%;
  outline: none;
}

.logo_and_search_box_button {
  background: url(../img/search.png) no-repeat;
  width: 2em;
  height: 1.4em;
  border: 0;
}
/*메인 박스*/
.main-container {

}

/*top 메뉴*/
.top-main-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 16%;
}

.left-nav-box {
  display: flex;
  width: 100%;
}

.recently_viewed_products {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(45, 45, 45);
}

.recently_viewed_products a {
  border-left: 1px solid;
  padding: 0.2em;
  color: white;
  text-decoration: none;
}

.nav_left_bar ul {
  padding: 0;
  margin: 0;
  position: absolute;
}

.nav_left_bar a {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.nav_left_bar li {
  position: relative;
  width: 9em;
  height: 2.417em;
  background-color: rgb(45, 45, 45);
  font-size: 20px;
  border-top: solid 5px #f3f3f3;
  transition: background-color 0.2s, margin-left 0.5s;
  margin-right: 1px;
}

.left-nav-box li:hover {
  background-color: gray;
  margin-left: 10px;
}

.center-image-box {
  display: flex;
  width: 100%;
  margin-bottom: 5%;
  margin-left: 10px;
}

.center-image-box img {
  background-color: #f3f3f3;
  padding-top: 0.2em;
  height: 338px;
  width: 100%;
}

/*센터 아이템*/
.center-items-box {
  display: flex;
  border: 2px solid #dddddd;
  align-items:center;
}

.center-items {
  display: flex;
  flex-direction: row;
}

.center-items h2 {
  font-size: 16px;
}

.center-items h3 {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  color: red;
}

.long-item-box-shape {
  padding: 10px;
  height: 16em;
  border: 2px solid #dddddd;
  margin: 20px;
}

.long-item-box-shape img{
  width: 10em;
}

.short-item-box-shape {
  padding: 10px;
  height: 13em;
  border: 2px solid #dddddd;
  margin: 20px;
}

.short-item-box-shape img{
  width: 10em;
  height: 7em;
}

/*화살표 */
.arrow {
  border: solid rgb(125, 125, 125);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 15px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

}

.right_p{
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-right: -100px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.left_p{
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-left: -35px;
}

/* 맨밑 아이템들*/
.bottom-item-box {
  margin-top: 5%;
}

.bottom-nav-bar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  flex-wrap: wrap;
}

.bottom-nav-bar li {
  padding: 1% 0;
  text-decoration: none;
  flex-grow: 1;
}

.bottom-nav-bar a {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.row-3 {
  display: flex;
  border: 2px solid #dddddd;
}

.row-3 ul {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.row-3 li {
  margin: 10px;
  padding: 20px;
}

.row-3-image {
  display: flex;
  width: 10em;
  height: 7em;
}

.row-3 div {
  padding: 10px;
}

.row-3 h1 {
  font-weight: bold;
  font-size: 22px;
}

.row-3 h2 {
  display: flex;
  font-size: 16px;
}

.row-3 h3 {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  color: red;
}

.line {
  border-right: 1px solid;
}

.mint:hover {
  display: flex;
  text-decoration: none;
  background-color: #9fca99;
}

.yellow:hover {
  display: flex;
  text-decoration: none;
  background-color: #fffac2;
}

.purple:hover {
  display: flex;
  text-decoration: none;
  background-color: #b7aed6;
}

.green:hover {
  display: flex;
  text-decoration: none;
  background-color: #e1eec1;
}