.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
}

.main-container h1:nth-child(1) {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 5%;
}
.colorgraph {
  height: 7px;
  width: 100%;
  border-top: 0;
  margin: 10% auto;
  background: #c4e17f;
  border-radius: 5px;
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%,
  #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%,
  #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%,
  #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.email-and-password-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 16rem;
  padding: 30px 38px 40px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);

}

.email-and-password-container input:nth-child(2) {
  width: 68%;
  text-indent: 2%;
  font-size: 1em;
}

.email-box, .password-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  vertical-align: middle;
}

.sign-in-button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
}

.bottom-box {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-top: 10%;
  padding: 0 20px;
}

.bottom-box li:nth-child(-n + 2) > a{
  border-right: 1px solid black;
  color: black;
}

.bottom-box a {
  padding: 0 20px;
}

.non-sign-up {

  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 2%;
  color: black;
}
