#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-container {
  text-align: center;
}

.main-container h1 {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.main-container a {
  text-decoration: none;
  color: black;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.sign-in-label {
  margin-right: 6%;
}

/* http://getbem.com/ */
.input-box input {
  width: 70%;
  box-sizing: border-box;
  height: 47px;
  text-indent: 12px;
  margin-top: 5px;
  font-size: 18px;
  margin-bottom: 3%;
  outline: none;
}

.checkbox-box {
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-bottom: 3%;
}

.checkbox-box div {
  display: flex;
  align-items: center;
}

.ul-box1 button {
  width: 100%;
  height: 60px;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 3%;

}

.ul-box1 li {
  border-radius: 10px;
}

.ul-box1 img {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}

.ul-box2 {
  display: flex;
  justify-content: center;
}

.ul-box2 a {
  font-size: 16px;
  padding-left: 16px;
}

.ul-box2 a:nth-of-type(-n + 2) {
  /* pseudo 선택자를 사용하면 클래스를 사용하지 않더라도 구분선을 넣어줄 수 있습니다. */
  /* :nth-of-type 또는 nth-child 등을 사용해보시는 걸 추천드립니다. */
  /* 또한 측면에 border를 넣는 방법도 있지만 ::after, ::before 등을 활용해서 만들 수도 있습니다. */
  border-right: 1px solid black;
  padding:0 20px;
  transform: rotate(-45deg);

}
.non_sign-up {
  font-size: 16px;
}

