.footer-wrapper {
  display: inline-block;
  justify-content: space-between;
  padding: 10rem 0;
  width: 100%;
}
.footer-flex {
  display: flex;
  justify-content: center;
}
.footer-padding {
  padding: 0 8rem;
}
.footer-logo {
  margin: 1rem 0;
}
.footer-tittle h2{
  margin-bottom: 1rem;
  color: #000;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.footer-tittle ul li{
  margin-bottom: 1rem;
}
.footer-tittle ul li a {
  text-decoration: none;
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
}
.footer-tittle p {
  width: 220px;
}
.footer-font {
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .footer-flex {
    display: none;
  }
}