.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.modal-wrapper-active {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.modal {
  background-color: #9a6696;
  width: 30rem;
  height: 18rem;
  opacity: 0.8;
}
.close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.button-close:after {
  display: inline-block;
  content: "\00d7";
  font-size:15pt;
  cursor: pointer;
}
.modal-contents-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  font-size: 20px;
  color: white;
}

.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  overflow-x:hidden
}

.sign-in-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/category.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 300px;
  width: 100%;
}
.sign-in-wrapper h1 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-and-sign-in-wrapper {
  display: flex;
  padding: 200px;
}
.form {
  display: flex;
}
.image-sign-in-wrapper {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  margin-bottom: 17px;
  padding: 80px 70px;
  height: 600px;
  background-image: -webkit-linear-gradient(
          90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
  background-image: linear-gradient(
          90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
  background-size: 200% auto;
}
.sign-in-part-text-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 415px;
  height: 440px;
  text-align: center;
}
.sign-in-part-text-inner h2 {
  margin-bottom:17px;
}
.button-sign-up {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  margin-top: 28px;
  color: #fff;
  display: inline-block;
  padding: 18px 36px;
  border-radius: 5px;
  font-weight: 400;
}

.input-wrapper {
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 17px;
  display: inline-block;
  padding: 80px 70px;
  height: 600px;
  border: 1px solid;
  align-items: flex-start;
}
.login-part-text-inner-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-wrapper h2 {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-bottom:80px;
  text-align: left;
}
.input-label {
  color: #495057;
  font-weight:100;
  font-size:20px;
}
.input-id,
.input-password {
  border: 0 solid transparent;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}
.input-id::placeholder,
.input-password::placeholder {
  color: red;
}
.checkbox-wrapper {
  display: flex;
  align-items: center;
}
.checkbox-wrapper label{
  border:0;
}
.button-sign-in {
  display: inline-block;
  width: 100%;
  margin: 30px 0 17px;
  padding: 18px 36px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #2577fd;
  font-size: 15px;
  color: #2577fd;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.login-part-text-inner-wrap a{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 16px;
}



