.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.modal-wrapper-active {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.modal-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 300px;
  height: 500px;
  border-radius: 6px;
  background-color: #fff;
}
.modal-wrapper header {
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 40px;
}
.modal-wrapper header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;height: 30px;
  border: 0;
  background: none;
}
.modal-content {
  height: 100%;
}
.modal-wrapper footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100px;
}
.modal-wrapper footer button{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: #1275ab;
  color: #fff;
}
.close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.button-modal-close:after {
  display: inline-block;
  content: "\00d7";
  font-size:15pt;
  cursor: pointer;
}
.modal-contents-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
}

.sign-in-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  overflow-x:hidden
}

.sign-in-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/category.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  min-height: 250px;
  width: 100%;
}
.sign-in-wrapper h1 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-and-sign-in-wrapper {
  display: flex;
  padding: 50px;
}
.form {
  display: flex;
}
.image-sign-in-wrapper {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  margin-bottom: 17px;
  padding: 30px 70px;
  height: 600px;
  background-image: -webkit-linear-gradient(
          90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
  background-image: linear-gradient(
          90deg, #B08EAD 0%, #4B3049 64%, #B08EAD 100%);
  background-size: 200% auto;
}
.sign-in-part-text-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 415px;
  height: 600px;
  text-align: center;
}
.sign-in-part-text-inner h2 {
  margin-bottom:17px;
}
.button-sign-up {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 14px;
  margin-top: 28px;
  color: #fff;
  display: inline-block;
  padding: 18px 36px;
  border-radius: 5px;
  font-weight: 400;
}

.input-wrapper {
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 17px;
  display: inline-block;
  padding: 30px 70px;
  height: 600px;
  border: 1px solid;
  align-items: flex-start;
}
.login-part-text-inner-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-wrapper h2 {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin:40px 0;
  text-align: left;
}
.input-label {
  color: #495057;
  font-weight:100;
  font-size:20px;
}
.input-id-wrapper {
  width: 100%;
}
.input-password-wrapper {
  width: 100%;
}
.input-id,
.input-password {
  border: 0 solid transparent;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}
.input-id-wrong,
.input-password-wrong {
  outline-color: red;
  opacity: 0;
}
.input-id-blank1,
.input-password-blank1{
  display: block;
}
.show-error input,
.show-error span{
  outline-color: red;
  opacity:1;
  color: red;
  font-size: 18px;
  text-align: initial;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}
.checkbox-wrapper label{
  border:0;
}
.button-sign-in {
  display: inline-block;
  width: 100%;
  margin: 30px 0 17px;
  padding: 18px 36px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #2577fd;
  font-size: 15px;
  color: #2577fd;
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.login-part-text-inner-wrap a{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 16px;
}
@media screen and (max-width: 1400px) {
  .create-and-sign-in-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
  }
  .input-wrapper {
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 30px 70px;
    height: 600px;
    border: 1px solid;
    align-items: flex-start;
  }
}




