.main-wrapper {
  margin: 6rem 9.8rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color:ivory;
}
.subject-wrapper {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}
.subject-wrapper p {
  display: flex;
  align-items: center;
  padding: 50px 44px;
  margin-right: 10em;
  border-right: black solid 1px;
  font-weight: bold;
  border-radius:5px;
  font-size: 32px;
}
.top-content {
  display: flex;
  gap: 100px;
}
.top-content li {
  display: flex;
  padding: 50px;
  border: black solid 1px;
  border-radius: 50%;
  align-items:center;
  font-weight: bold;
  font-size: 20px;
}
.top-content li:nth-child(1) {
  display: flex;
  padding: 50px;
  border: black solid 1px;
  border-radius: 50%;
  align-items:center;
}
.top-content li:nth-child(2) {
  display: flex;
  padding: 55px;
  border: black solid 1px;
  border-radius: 50%;
  align-items:center;
}
.top-content li:nth-child(3) {
  display: flex;
  padding: 65px;
  border: black solid 1px;
  border-radius: 50%;
  align-items:center;
}

.left-content-wrapper {
  display: flex;
  width: 100%;
}
.left-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.left-content li:nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 15px 67px;
  margin: 0 10px;
  border: black solid 1px;
  font-weight: bold;
}
.left-content li:nth-child(2) {
  padding: 15px 69px;
  border: black solid 1px;
  font-weight: bold;
}
.left-content li:nth-child(3) {
  padding: 15px 75px;
  border: black solid 1px;
  font-weight: bold;
}
.left-content li:nth-child(4) {
  padding: 15px 50px;
  border: black solid 1px;
  font-weight: bold;
}

.center-content {
  display: flex;
  flex-direction:column;
  justify-content:center;
  width: 86%;
}
.date-wrapper {
  display: flex;
  justify-content:space-around;
  margin: 20px;
}
.date-wrapper ul {
  display: flex;
}
.date-wrapper ul li {
  padding: 10px 30px;
  margin: 20px 10px;
  border-radius: 5px;
}
.date-wrapper ul li {
  padding: 10px 50px;
  margin: 20px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.item-wrapper {
  margin: 0 0 20px 0;
}
.item-wrapper ul li:nth-child(1) {
  display: flex;
  justify-content:space-around;
  padding: 20px;
  align-items:center;
  border: 1px solid black;
}
.item-wrapper ul li:nth-child(2) {
  display: flex;
  justify-content:space-around;
  padding: 20px;
  align-items:center;
  border-right:1px solid black;
  border-left:1px solid black;
}
.item-wrapper ul li:nth-child(3) {
  display: flex;
  justify-content:space-around;
  padding: 20px;
  align-items:center;
  border: 1px solid black;
}
.item-wrapper ul li img {
  width: 200px;
  height: 150px;
}