body {
  overflow-x: hidden;
}

.product-subject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.product-subject h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 82px;
}
.item-wrapper {
  display: flex;
  width: 100%;
  margin: 0 20%;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 3rem;
  width: 100%;
}
.sort ul {
  display: flex;
  flex-direction: row;
}
.sort ul li a{
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.sort-right-contents {
  padding-right: 1.2rem;
  font-size: 1rem;
}
.sorting {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-wrap: wrap;
}
.single-product{
  display: flex;
  padding: 0.3rem;
  text-align: center;
  width: 33%;
  flex-direction:column;
}
.product-img img {
  width: 100%;
}
.new-product {
  padding: 1rem 0;
}
.product-link a {
  text-decoration: none;
  color: black;
}
.price ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.price li {
  display: flex;
  padding: 0 0.5rem;
}
.discount {
  text-decoration: line-through;
  color: red;
  padding-left: 2rem;
}

.model-image {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

@media screen and (max-width: 1400px) {
  .search-wrapper {
    margin: 2.5em ;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    display: flex;
    padding: 0.3rem;
    text-align: center;
    flex-wrap: wrap;
  }
  .single-product {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .main-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 10%;
  }

  .search-wrapper {
    margin: 2.5em ;
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
  }
  .list-wrapper a {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2.5rem;
  }

  .product-subject {
    display: none;
  }
  .single-product {
    width: 100%;
  }
  .sort form {
    display: flex;
    padding: 0;
  }

  .items {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .items ul {
    width: 100%;
  }

  .model-image {
    display: none;
  }
}