body {
  overflow-x: hidden;
}
#header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.user-info-navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding: 0 8rem;
  height: 4.5rem;
  justify-content: space-between;
}
.user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.user-info :hover{
  color: red;
}
.user-info li a {
  padding: 1.8rem;
  text-decoration: none;
  color: white;
}
.phone-number-wrapper {
  padding: 1.8rem;
}
.phone-number-wrapper span {
  padding-right: 1rem
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  align-items: center;
}
.navbar-shopping-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9.8rem;
  height: 6.5rem;
}
.list-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-left: 15rem;
}
.list-wrapper ul {
  display: flex;
}
.list-wrapper ul li {
  display: flex;
  flex-direction: row;
}
.list-wrapper ul li :hover {
  background-color:black;
}
.list-wrapper a {
  padding: 3rem 2rem;
  text-decoration: none;
}
.list-wrapper a:hover {
  color: red;
}
.search-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  padding-right: 13rem;
}
.search-wrapper input {
  height: 2.3rem;
  padding-left: 1rem;
}
.button-search-icon {
  background-color: white;
}

.product-subject {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  font-size: 5rem;
}
.item-wrapper {
  display: flex;
  width: 100%;
  margin: 0 20%;
}
.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 3rem;
  width: 100%;
}
.sort ul {
  display: flex;
  flex-direction: row;
}
.sort ul li a{
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.sort-right-contents {
  padding-right: 1.2rem;
  font-size: 20px;
}
.sorting {
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  display: flex;
  padding: 0.3rem;
  text-align: center;
  width: 33%
}
.single-product{
  width: 100%;
}
.product-img img {
  width: 100%;
}
.new-product {
  padding: 1rem 0;
}
.product-link a {
  text-decoration: none;
  color: black;
}
.price ul {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.price li {
  display: flex;
  padding: 0 0.5rem;
}
.discount {
  text-decoration: line-through;
  color: red;
  padding-left: 2rem;
}

.model-image {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.footer-wrapper {
  display: inline-block;
  justify-content: space-between;
  padding: 10rem 0;
  width: 100%;
}
.footer-flex {
  display: flex;
  justify-content: center;
}
.footer-padding {
  padding: 0 4.5rem;
}
.logo-size {
  width: 22rem;
}
.footer-logo {
  margin: 1rem 0;
}
.footer-tittle h2{
  margin-bottom: 1rem;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.footer-tittle ul li{
  margin-bottom: 1rem;
}
.footer-tittle ul li a {
  text-decoration: none;
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
}
.footer-font {
  color: #868c98;
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.8;
  text-decoration: none;
}
@media screen and (max-width: 1920px) {
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item {
    display: flex;
    padding: 0.3rem;
    text-align: center;
    width: 50%;
  }

}

@media screen and (max-width: 1100px) {
  .main-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 20%;
  }

  .user-info-navbar {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    font-size: 18px;
  }

  .phone-number-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
  }

  .user-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .user-info li {
    padding: 10px 0;
  }

  .phone-number-wrapper {
    display: flex;
    flex-direction: column;
  }

  .phone-number-wrapper span {
    padding: 10px 0;
    font-size: 18px;
  }

  .navbar-shopping-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 15px
  }

  .list-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .list-wrapper a {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .search-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .product-subject {
    display: none;
  }

  .sort form {
    display: flex;
    padding: 0;
  }

  .items {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .items ul {
    width: 100%;
  }

  .model-image {
    display: none;
  }
}